all:

  .settings:
    cacophony:
      plugin:
        routes_register: true
      providers:
        vimeo:
          request_token_url: http://vimeo.com/oauth/request_token
          authorize_url: http://vimeo.com/oauth/authorize
          access_token_url: http://vimeo.com/oauth/access_token
        twitter:
          request_token_url: https://api.twitter.com/oauth/request_token
          authorize_url: https://api.twitter.com/oauth/authenticate
          access_token_url: https://api.twitter.com/oauth/access_token
        linkedin:
          request_token_url: https://api.linkedin.com/uas/oauth/requestToken
          authorize_url: https://www.linkedin.com/uas/oauth/authenticate
          access_token_url: https://api.linkedin.com/uas/oauth/accessToken
        yahoo:
          request_token_url: https://api.login.yahoo.com/oauth/v2/get_request_token
          authorize_url: https://api.login.yahoo.com/oauth/v2/request_auth
          access_token_url: https://api.login.yahoo.com/oauth/v2/get_token
        facebook:
          request_token_url: ~
          authorize_url: http://www.facebook.com/dialog/oauth
          access_token_url: https://graph.facebook.com/oauth/access_token
        netflix:
          request_token_url: http://api.netflix.com/oauth/request_token
          authorize_url: http://api.netflix.com/oauth/login
          access_token_url: http://api.netflix.com/oauth/access_token

